<div class="form-box">
  <div class="head">Welcome</div>
  <form action="#" id="login-form">
    <div class="form-group">
      <label class="label-control">
        <span class="label-text">Email</span>
      </label>
      <input type="email" name="email" class="form-control" />
    </div>
    <div class="form-group">
      <label class="label-control">
        <span class="label-text">Password</span>
      </label>
      <input type="password" name="password" class="form-control" />
    </div>
    <input type="submit" (click)="logIn()"  value="Login" class="btn" />
  </form>
</div>
